In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVC

In [2]:
df = pd.read_csv('homework.csv')

In [3]:
df.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [5]:
headers = df.columns
headers

Index(['ID', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
ID         333 non-null int64
crim       333 non-null float64
zn         333 non-null float64
indus      333 non-null float64
chas       333 non-null int64
nox        333 non-null float64
rm         333 non-null float64
age        333 non-null float64
dis        333 non-null float64
rad        333 non-null int64
tax        333 non-null int64
ptratio    333 non-null float64
black      333 non-null float64
lstat      333 non-null float64
medv       333 non-null float64
dtypes: float64(11), int64(4)
memory usage: 39.1 KB

In [33]:
df_filtered = df[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat', 'medv']]
df_filtered.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [34]:
df_filtered.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [35]:
# Формируем признаки и целевую переменную
X, y = df_filtered[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat']], df_filtered['medv']

In [36]:
# Разделяем данные на данные для обучения и проверки
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [37]:
# Приводим данные к одному масштабу
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [38]:
# возвращаем к типу датафрейм
X_train = pd.DataFrame(X_train, columns=X.columns)
X_test = pd.DataFrame(X_test, columns=X.columns)

In [18]:
X_train.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,-0.438014,-0.503388,0.122834,-0.261291,0.153283,-0.388807,0.451379,-0.613967,-0.979876,-0.771797,1.206445,0.440148,-0.639858
1,-0.308619,-0.503388,-0.420847,-0.261291,-0.145648,-0.519350,-1.358125,0.377482,-0.634953,-0.571524,1.206445,0.328997,-0.822941
2,0.831799,-0.503388,1.007930,-0.261291,1.579614,-0.085124,1.006527,-0.766643,1.664536,1.543129,0.836781,0.347467,0.565672
3,-0.424776,-0.503388,2.090989,-0.261291,0.221611,-0.627907,1.020582,-0.892763,-0.864902,-1.272481,0.328494,0.146068,1.828944
4,-0.443296,0.265300,-1.257169,-0.261291,-0.145648,0.360095,-0.096743,0.174279,-0.979876,-0.636318,-1.427410,0.440148,-1.048274

In [21]:
# обучаем модель линейной регрессии
linear = LinearRegression()

In [22]:
linear.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [55]:
# обучаем модель дерева решений
tree = DecisionTreeRegressor(criterion='friedman_mse', random_state=17)

In [56]:
tree.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='friedman_mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=17, splitter='best')

In [65]:
# Оценим качество
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [60]:
# среднеквадратичная ошибка
mean_squared_error(y_test, linear.predict(X_test))

13.707007637560874

In [61]:
mean_squared_error(y_test, tree.predict(X_test))

12.198358208955227

In [66]:
# абсолютная ошибка
mean_absolute_error(y_test, linear.predict(X_test))

2.852015042299614

In [67]:
mean_absolute_error(y_test, tree.predict(X_test))

2.628358208955224

In [63]:
# коэффициент детерминации
r2_score(y_test, linear.predict(X_test))

0.797302495125138

In [64]:
r2_score(y_test, tree.predict(X_test))

0.8196122131172167

In [68]:
# в целом видим, что модель дерева решений обучилась несколько лучше модели линейной регрессии
# по значению коэффициента детерминации можем сказать, что порядка 80% значений цен были предсказаны верны